version: '3.7'

services:

  nginx:
    image: nginx:1.23.1
    volumes:
      - ./nginx:/opt/writehat/nginx
      - ./writehat/writehat/config/nginx.conf:/etc/nginx/conf.d/writehat.conf
      - ./writehat/writehat/static:/opt/writehat/static
    ports:
      - 80:80
      - 443:443
    restart: unless-stopped
    depends_on:
      - writehat

  writehat:
    build:
      context: .
      dockerfile: ./writehat/writehat/config/Dockerfile.app
    environment:
      - PYTHONPATH=/opt/writehat/writehat
      - WRITEHAT_ADMIN_USERNAME=${WRITEHAT_ADMIN_USERNAME}
      - WRITEHAT_ADMIN_PASSWORD=${WRITEHAT_ADMIN_PASSWORD}
      - WRITEHAT_SECRET_KEY=${WRITEHAT_SECRET_KEY}
    command: bash -c "
      sleep 2 &&
      ./manage.py makemigrations writehat &&
      ./manage.py migrate writehat &&
      ./manage.py makemigrations &&
      ./manage.py migrate &&
      uwsgi --socket 0.0.0.0:8000 --plugin-dir=/usr/lib/uwsgi/plugins --plugin python3 -w writehat.wsgi:application --processes=4 --master --vacuum"
    volumes:
      - .:/opt/writehat
    working_dir: /opt/writehat/writehat
    expose:
      - 8000
    restart: unless-stopped
    depends_on:
      - mongo
      - mysql

  mongo:
    image: mongo:4.4
    volumes:
      - ./mongo/configdb:/data/configdb
      - ./mongo/db:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    expose:
      - 27017

  mysql:
    image: mysql:8.0.26
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    expose:
      - 3306
    restart: unless-stopped

  chrome:
    image: selenium/standalone-chrome:109.0
    expose:
      - 4444
    depends_on:
      - writehat
